@model Hra[]
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <table>
        @foreach(var h in Model)
        {
            <tr>
                <td><a href="Hra/Prubeh/@h.Id">@h.Id</a></td>
                
            </tr>
        }
    </table>
</div>