@{
    ViewData["Title"] = "Pruběh hry";
}
<span id="id-hry" hidden>@ViewBag.hra.Id</span>
<span id="id-hrace" hidden>@ViewBag.hrac.Id</span>
<div id="main-container">
    <div class="ovladaci_panel" id="tlacitkovy-panel">
        <div id="instrukce">
            @if (ViewBag.hra.stavHry != StavHry.Vytvorena)
            {
                if (ViewBag.hra.AktualniHrac() == ViewBag.Hrac)
                {
                    <p>>Vyber akci</p>
                }
                else
                {
                    <p>Nejsi na tahu, můžeš jen souhlasit se směnami.</p>
                }
            }
            else
            {
                if (ViewBag.hra.hraci.Count > 1 && ViewBag.hrac == ViewBag.hra.hraci[0])
                {
                    <p>Klikni na "Začít hru" nebo počkej na další hráče</p>
                }
                else
                {
                    <p>Čekej až první hráč začne hru, nebo se připojí maximální počet hráčů.</p>
                }
            }
        </div>
        <div>
            <h2>Nákup</h2>
            <span id="panel_stavby">
                @foreach(Stavba s in ViewBag.stavby)
                {
                    <div class="stavba" id=@s.Nazev>
                        @s.Nazev
                        <img src="../../@s.ImageUrl" \ />
                    </div>
                }
                <div class="stavba" id="cesta">
                    Cesta
                    <img src="../../cesta.svg" \ />
                </div>
                <div class="stavba" id="akcni_karta">
                    Akční karta
                    <img src="../../akcni_karta.svg" \ />
                </div>
            </span>
        </div>
        <div>
            AkcniKarty
        </div>
        <div id="panel_tlacitka">
            @if (ViewBag.hra.stavHry != StavHry.Vytvorena)
            {
                if (ViewBag.hra.AktualniHrac() == ViewBag.Hrac)
                {
                    <button id="tlacitko_smena">Nabídnout směnu</button>
                    <button id="tlacitko_dalsi">Ukončit tah</button>
                }
                else
                {
                    <button id="tlacitko_smena" disabled>Nabídnout směnu</button>
                    <button id="tlacitko_dalsi" disabled>Ukončit tah</button>
                }
                
            }
            else
            {
                <button id="tlacitko_smena" disabled>Nabídnout směnu</button>
                if (ViewBag.hra.hraci.Count > 1 && ViewBag.hrac == ViewBag.hra.hraci[0])
                {
                    <button id="tlacitko_dalsi">Začít hru</button>
                }
                else
                {
                    <button id="tlacitko_dalsi" disabled>Začít hru</button>
                }
            }
        </div>
        

    </div>
    <div id="map-container" style="width: @(Mapka.rozmeryMrizky.Width*@Pole.velikost.Width*6)px">
        <partial name="Mapka" />
    </div>
    <div class="ovladaci_panel" id="stavovy-panel">

        <div>
            Stavybodu
        </div>
        <div>
            surovinove karty
        </div>
        <div id="panel_smeny">
            smeny
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/click.js"></script>