html {
    font-size: 16px;
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
main {
    flex-shrink:1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}
#main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between
}

#map-container {
    overflow: auto;
    position: relative;

}

#tlacitkovy-panel {
    border-right: 5px double gray;
    border-radius: 4px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#stavovy-panel {
    border-left: 5px double gray;
    border-radius: 4px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ovladaci_panel div {
    border: 5px double gray;
    border-radius: 4px;
}

.list-hra-detail img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.list-hra-detail {
    
    width: fit-content;
    text-decoration: none;
    color: black;
    background: #ffffff;
    display: flex;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px;
    flex-direction: column;
}
.list-hra-aktualni {
    font-weight: bold;
    border-top: 1px solid #000000;
}
.list-hra-ostatni {
    border-top: 1px solid #000000;
}
.list-her {
    list-style: none;
    display:flex;
    flex-wrap:wrap;
}
.nadpis {
    display:flex;
    justify-content:space-between;
}
.button {
    font-size: 20px;
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; 
    color: #ffffff;
    border: darkblue 2px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
.panel {
    background-color: #333;
    color: #fff;
}


.instrukce {
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1;
}
#tlacitka {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-size: 20px;
    font-weight: bold;
}
 #panel_smeny {
     flex: 1;
     overflow-y: auto;
 }
 #nakup {
    display: flex;
    flex-direction: column;
 }
.stavba {
    display: grid;
    justify-content: space-between;
}
.stavba-nazev {
    grid-column: 1;
    grid-row: 1;
    font-weight: bold;
    pointer-events: none;
}
.stavba-cena {
    grid-column: 1;
    grid-row: 2;
    font-size: small;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}
    .stavba-cena p {
        margin: 0 5px 0 5px;
        pointer-events: none;
    }
.stavba-obrazek {
    grid-column: 2;
    grid-row: 1 / span 2;
    pointer-events: none;
}
.obrazek {
    width: 60px;
    height: 60px;
}
.karta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #ffffff;
}
.horizontalne {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.vertikalne {
    display: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.body-hrace {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #ffffff;
}
.body-hrace p {
    margin: 0;
}
.vyskakovaci_okno {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    border: 1px solid black;
}
#smena-container {
    flex-direction: column;
    align-items: center;
}
#smena-container div {
    display: flex;
    margin: 10px;
}
#smena-container div div {
    display: flex;
    flex-direction:column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
#Smeny table {
    border-collapse: collapse;
    width: 100%;
}
#Smeny tr {
    border: 1px solid black;
}
#smena-s-hraci-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#smena-s-hraci-form-rozdeleni {
    display: flex;
    margin: 10px;
}
#smena-s-hraci-form-rozdeleni span {
    margin: 10px;
}
.index_tlacitka {
    display: flex;
    justify-content: center;
}
.index_tlacitka a {
    margin: 20px;
}
